.card {
  .card-header {
    background-color: $purple-brand;
    color: white;
    font-size: 1.2em;
  }
}

.btn-primary {
  background-color: $purple-brand;
  border-color: $purple-brand;
  &:hover, &:active {
    background-color: $purple !important;
    border-color: $purple !important;
  }
}

.btn-secondary, .page-item.active .page-link {
  background-color: $orange-brand;
  border-color: $orange-brand;
  &:hover, &:active {
    background-color: $orange !important;
    border-color: $orange !important;
  }
}

.btn-link, .page-link {
  color: $orange-brand;
  &:hover, &:active {
    background-color: $orange;
    border-color: $orange;
  }
}

a {
  color: $orange-brand;
  &:hover, &:active {
    color: $orange !important;
  }
}

.link-icon {
  font-size: 1.3em;
}

.form-control:focus, .custom-select:focus {
  border-color: $orange;
  box-shadow: 0 0 0 0.2rem rgba(248, 151, 29, 0.25);
}

.pattern-background {
  background: rgba(117, 78, 149, 0.5) url('/img/pattern2.png');
}

.w-50px {
  width: 50px;
}

.hired {
  width: 30px;
  height: 30px;
  background-color: #2d995b;
  color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.delete-button-trick {
  bottom: 0;
  left: 120px;
}
